* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  /* Putting default font-size to 10px */
  font-size: 0.625em; /* fallback IE8+ */
  font-size: calc(
    1em * 0.625
  ); /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  scroll-behavior: smooth;
}

body {
  font-size: 1.6em; /* base font-size is equivalent "14px" */
}
